/* Project Name: Personal Portfolio Website */

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
/* General CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

/* Custom CSS */
.container {
  background: #fff;
  color: #120f2d;
}

#header .header-top {
  width: 100%;
  background-color: #0d0f1b;
  padding: 8px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
}

.fa-home {
  color: white;
  position: absolute;
  margin-left: 10px;
}

.header-top .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.header-top .logo a span {
  color: #faca22;
}

.nav-menu ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}

.nav-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.nav-menu ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #faca22;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.nav-menu ul li a:hover::after {
  width: 100%;
}

.nav-menu .fa-solid {
  display: none;
}

#header .header-bottom {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 1), #0b0d19);
  background-repeat: no-repeat;
  background-position: 75%;
  color: #fff;
  padding: 8% 6% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-bottom .bottom-left .name {
  font-size: 2.5rem;
  z-index: -1;
  flex-direction: column;
}

.bottom-left .name span {
  color: #faca22;
}

.bottom-left .profession {
  font-size: 22px;
  font-weight: 500;
}

.profession {
  text-align: center;
}

.bottom-left .short-desc {
  font-size: 18px;
  padding: 20px 35% 20px 0;
}

/* .bottom-left .btn-cv {
  text-decoration: none;
  display: flex;
  font-size: 16px;
  background-color: #faca22;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  font-weight: bold;
} */

.bottom-left .btn-cv {
  text-decoration: none;
  display: flex;
  font-size: 16px;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 4px; /* Slight rounding to keep the shape of a brick */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  font-weight: bold;

  /* Realistic brick texture */
  /* background-image: url("/assets/brick.jpg"); Add your brick image here */
  background-size: cover; /* Makes the texture fill the button */
  background-position: center;
  background-repeat: no-repeat;

  /* Concrete-like texture or "mortar" effect */
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2), 4px 4px 15px rgba(0, 0, 0, 0.3);
  /* background-color: #000000; */
  /* Border simulating mortar */
  border: 2px solid #F9CA22;
  color: #F9CA22;
}

.bottom-left .btn-cv:hover {
  /* background-image: url("/assets/brick.jpg"); Optionally change texture on hover */
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3), 4px 4px 20px rgba(0, 0, 0, 0.4); /* Deepens the shadow on hover */
}

.bottom-left .btn-cv:hover {
  background-color: #F9CA22;
  color: black;
  transform: scale(1.1);
}

.header-bottom .bottom-right a {
  display: block;
  font-size: 18px;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #f7f7f7;
  padding: 6px 10px;
  margin-bottom: 15px;
  transition: all 0.5s;
}

.header-bottom .bottom-right a:hover {
  border: 1px solid #faca22;
  color: #faca22;
  opacity: 1;
  transform: scale(1.1);
}

.bottom-left {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 100px;
}

/* .bottom-right {
  display: flex;
  flex-direction: row;
  margin: 5px 5px;
  /* padding: 0px !important; */

/* .logo-text {
  display: inline-flex;
  flex-direction: row;
  height: 100%;
} */

.logo {
  max-width: 212px;
  display: inline-flex;
}

.logo-span {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.social-top {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  background-color: #000 !important;
  margin-bottom: 5px;
  border: none !important;
  color: #faca22;
}

.top-icons {
  display: flex !important;
  margin-left: auto;
  margin-right: auto;
  /* justify-self: center; */
  /* align-self: center; */
  justify-content: center;
  align-items: center;
  background-color: #000 !important;
  scale: 150%;
  border: none !important;
}

.fa-facebook {
  color: #faca22 !important;
}

.fa-linkedin {
  color: #faca22 !important;
}

.fa-github {
  color: #faca22 !important;
}

/* About */
#about {
  width: 100%;
  min-height: 100vh;
  padding: 60px 6%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#about .about-left {
  flex-basis: 36%;
  display: flex;
}

#about .about-right {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-left img {
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
}

.section-title .sub-title {
  font-size: 40px;
  color: #d9dae7;
  font-weight: 600;
}

.section-title .title {
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
}

.about-list {
  line-height: 140%;
}

.about-right .desc {
  font-size: 16px;
  line-height: 1.4;
  padding: 30px 0;
}

.about-right .tab-titles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.about-right .tab-links {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.about-right .tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ffc800;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.about-right .tab-links.active-link::after {
  width: 50%;
}

.about-right .tab-contents ul li {
  list-style: none;
  font-size: 17px;
  margin: 10px 0;
}

.about-right .tab-contents ul li:before {
  content: "✓ ";
  color: #ffc800;
}

.about-right .tab-contents ul li span {
  color: #ffc800;
  font-size: 20px;
  font-weight: 500;
}

.about-right .tab-contents {
  display: none;
}

.about-right .tab-contents.active-tab {
  display: block;
}

.about-list {
  margin-left: 10%;
}

/* Service */
#service {
  background-color: #f7f7f7;
  padding: 60px 6% 80px;
  text-align: center;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 60px;
  text-align: left;
}

.services div {
  background: #fff;
  padding: 40px 30px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s;
}

.services div p {
  line-height: 140%;
}

.services div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services div h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services div:hover {
  background: #faca22;
  transform: translateY(-10px);
}

/* Portfolio */
#portfolio {
  padding: 50px 6%;
  text-align: center;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 50px;
}

.project-list .project {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(217, 218, 231, 0.2);
}

.project img {
  width: 100%;
  border-radius: 10px;
  transition: all 0.5s;
}

.movieseeker {
  height: 30dvh;
  object-fit: contain;
}

.project:hover img {
  transform: scale(1.05);
}

.project .layer {
  position: absolute;
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(250, 202, 34, 0.8), rgba(250, 202, 34, 0.8));
  border-radius: 10px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  transition: all 0.5s;
}

.project:hover .layer {
  height: 100%;
}

.project .layer h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.project .layer p {
  font-size: 16px;
  line-height: 1.3;
  margin: 20px 0 30px;
}

.project .layer a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #faca22;
  font-size: 18px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.5s;
}

.project .layer a:hover {
  background: #faca22;
  color: #fff;
  border: 2px solid #fff;
}

.case {
  margin-top: 20px;
  background-color: #f7f7f7;
  min-height: 500px;
}

.case {
  color: #d9dae7;
}

.case a {
  color: blue;
}

.case h3 {
  color: black;
}

.case:hover {
  border-image: fill 1
    linear-gradient(rgb(250, 202, 34, 0.8), rgb(250, 202, 34, 1)) !important;
}

.case:hover h2 {
  color: white;
}

.case .title {
  margin-top: 10px;
  text-align: center;
}

.case-study {
  min-width: 300px;
  margin-top: 20px;
  background-color: #d9dae733;
}

.case-study-img {
  object-fit: contain;
  height: 300px;
  overflow: hidden;
}

.case-study-img:hover {
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1000;
}

.case:hover .popup-content h2 {
  color: black;
}

.popup-content {
  text-align: left;
  color: black !important;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content h3,
.popup-content h4 {
  margin: 1em 0 0.5em;
}

.popup-content p,
.popup-content ul {
  margin: 0.5em 0;
  margin-left: 20px;
}

#close-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #faca22;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#close-btn:hover {
  background-color: #d9dae7;
}

.case-study-btn {
  margin-top: 10px;
}

.case-study-btn a {
  color: black;
}

.case:hover .case-study-btn a {
  background-color: #d9dae7;
  color: black;
}

.github-btn-div {
  display: flex;
  flex-direction: column;
  padding: 10px 6%;
  justify-content: center;
  align-items: center;
}

.github-btn {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #faca22;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  text-align: center;
}

.github-btn:hover {
  background-color: #d9dae7;
  transform: scale(1.1);
}

/* Testimonial */
#testimonial {
  padding: 60px 4% 80px;
  text-align: center;
}

#testimonial .testimonial-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 50px;
}

.testimonial-list .review {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
  padding: 40px 30px;
  cursor: pointer;
}

.testimonial-list .review:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.review i {
  font-size: 54px;
  color: #faca22;
}

.review .review-text {
  font-size: 18px;
  line-height: 1.3;
  text-align: left;
  padding: 20px 0 30px;
}

.review .review-by {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  text-align: start;
}

.review-by .img {
  flex-basis: 20%;
}

.review-by .img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.review-by .info {
  height: 60px;
}

.review-by .info .name {
  font-size: 18px;
  font-weight: 600;
}

.review-by .info .resignation {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

/* Contact */
#contact {
  background-color: #faca22;
  padding: 60px 8% 40px;
  text-align: center;
}

#contact .section-title .sub-title {
  color: #fff;
}

#contact .content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.content .contact-left,
.content .contact-right {
  flex-basis: 50%;
}

.content .contact-left form {
  width: 100%;
}

.contact-left form input,
.contact-left form textarea,
.contact-left form button {
  width: 100%;
  border: 0;
  outline: none;
  background: #f7f7f7;
  color: #120f2d;
  resize: none;
  font-size: 14px;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
}

.contact-left form button {
  background: #000;
  color: #f7f7f7;
  font-weight: 500;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
}

.content .vl {
  border-left: 2px solid #fff;
  height: 300px;
}

.content .contact-right {
  text-align: left;
}

.contact-right .col {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.contact-right .col i {
  font-size: 28px;
  margin-right: 10px;
}

.col .info .title {
  font-size: 20px;
}

.copyright {
  font-size: 16px;
  font-weight: 500;
  margin-top: 60px;
}

.copyright a {
  text-decoration: none;
  color: #120f2d;
}

.copyright a:hover {
  color: #fff;
}

.fa-heart {
  color: red;
}

.invisible {
  display: none;
}

/*FAQ*/
#faq {
  padding: 50px 8% 80px;
  text-align: center;
  background-color: #f7f7f7;
}

.faq-item {
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
}

#faq .sub-title {
  margin-top: 10px;
}

.question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.question:hover {
  margin-left: 35px;
  margin-right: 20px;
  scale: 105%;
}

.question i {
  padding-right: 15px;
}

.answer {
  display: none;
  min-height: 55px;
  text-align: left;
  margin-bottom: 2%;
  padding-bottom: 2%;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.border {
  border-bottom: 0.5px solid #d9dae7;
}

.answer.show {
  display: block;

  border-bottom: 0.5px solid #d9dae7;
}

/* Responsive Design */
@media (max-width: 900px) {
  .nav-menu .fa-solid {
    display: block;
    color: #faca22;
    font-size: 20px;
  }

  .fa-home {
    display: none;
  }

  .nav-menu ul {
    background-color: #120f2d;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 60px;
    z-index: 2;
    transition: right 0.5s;
  }

  .nav-menu ul li {
    display: block;
    color: #faca22;
    margin: 25px;
  }

  .nav-menu ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title {
    text-align: center;
  }

  #about .about-left {
    flex-basis: 100%;
    margin-bottom: 40px;
  }

  .about-left img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #about .about-right {
    flex-basis: 100%;
  }

  .about-right .tab-links {
    margin-right: 60px;
    font-size: 22px;
  }

  .about-right .tab-contents ul li {
    font-size: 20px;
  }

  .about-right .tab-contents ul li span {
    font-size: 18px;
  }

  #testimonial .testimonial-list {
    grid-gap: 20px;
  }

  .testimonial-list .review {
    padding: 30px 15px;
  }

  .review-by .info .name {
    font-size: 16px;
  }

  .btn-cv {
    margin-left: 20% !important  ;
  }

  .my-name {
    font-size: 1.5rem;
  }
  .logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 560px) {
  #header .header-bottom {
    background-position: 50%;
    height: 100vh;
    padding-bottom: 70px;
    padding-top: 50px;
  }

  #header .bottom-left {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    margin-top: 500px;
    /* padding-top: 90%; */
    padding-bottom: 40px;
  }

  .header-bottom .bottom-left .name {
    font-size: 40px;
  }

  .bottom-left .profession {
    font-size: 20px;
  }

  .bottom-left .short-desc {
    font-size: 18px;
    padding-right: 20%;
  }

  .about-left img {
    width: 80%;
  }

  .about-right .tab-links {
    margin-right: 30px;
    font-size: 20px;
  }

  .about-right .tab-contents ul li,
  .about-right .tab-contents ul li span {
    font-size: 18px;
  }

  .about-list {
    line-height: 150%;
  }

  .services div i {
    margin-left: 40%;
  }

  .services div h2 {
    text-align: center;
  }

  #contact .content {
    flex-wrap: wrap;
  }

  .content .contact-left,
  .content .contact-right {
    flex-basis: 100%;
  }

  .content .vl {
    display: none;
  }

  .popup-content {
    padding: 5px;
    min-width: 320px;
    max-width: none;
  }
}

@media (max-width: 450px) {
  .header-bottom .bottom-left .name {
    font-size: 32px;
  }

  .bottom-left .profession {
    font-size: 18px;
  }

  .bottom-left .short-desc {
    font-size: 16px;
    padding-right: 6%;
  }

  .bottom-left .btn-cv {
    font-size: 14px;
    padding: 8px 12px;
  }

  .section-title .sub-title {
    font-size: 36px;
  }

  .section-title .title {
    font-size: 20px;
  }

  .about-left img {
    width: 80%;
  }

  .about-right .tab-links {
    margin-right: 25px;
    font-size: 18px;
  }

  .about-right .tab-contents ul li,
  .about-right .tab-contents ul li span {
    font-size: 16px;
  }
  .btn-cv {
    margin-left: 30px !important;
  }

  .my-name,
  .btn-cv,
  .profession {
    font-size: 1rem;
  }

  #popup {
    padding: 0px;
    width: 90%;
    max-width: none;
  }

  .popup-content {
    padding: 5px;
    min-width: 325px;
    max-width: none;
  }
}

/*Heart animation */
.heart {
  animation: beat 1s infinite alternate;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/*Rainbow smoke */
#rainbow-trail {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; /* Ensure the trail doesn't interfere with mouse events */
  z-index: 9999; /* Ensure the trail is above other content */
}

.trail-particle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  pointer-events: none; /* Ensure the particle doesn't interfere with mouse events */
  opacity: 0.8;
}

/* Additional styling for the rainbow effect */
.rainbow-1 {
  background-color: #ff0000;
}
.rainbow-2 {
  background-color: #ff7f00;
}
.rainbow-3 {
  background-color: #ffff00;
}
.rainbow-4 {
  background-color: #00ff00;
}
.rainbow-5 {
  background-color: #0000ff;
}
.rainbow-6 {
  background-color: #4b0082;
}
.rainbow-7 {
  background-color: #9400d3;
}

.map-container {
  width: 100%;
  height: 100dvh;
  position: relative;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.services {
  text-align: center;
}
@media (max-width: 768px) {
  .map-container {
    height: 30dvh;
  }
  iframe {
    height: 30vh; /* Adjusts iframe height on mobile devices */
  }

  .services {
    text-align: start;
  }
}

/*Rounded Edges*/
button {
  border-radius: 10px !important;
}

#pricing {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.pricing-container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 30px;
}

.sub-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.card {
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 280px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  /* color: #103565; */
  margin-bottom: 15px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  /* color: #103565; */
  margin-bottom: 15px;
}

.features {
  list-style: none;
  padding: 0;
}

.features li {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.features li::before {
  content: "✔";
  color: #103565;
  margin-right: 10px;
}

image {
  border-radius: 5px !important;
}

.quote {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 4px solid #103565;
  font-style: italic;
  color: #555;
}

.quote p {
  font-size: 20px;
}

.quote blockquote {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.6;
}

.send-message:hover {
  scale: 103%;
  filter: brightness(105%);
}

.project {
  display: flex;
}

.project img {
  margin: auto auto;
}

.layer p {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.services div {
  padding: 15px 15px;
}

#about > div.about-right > p {
  padding-top: 5px;
}

.logo:hover {
  scale: 103%;
}

.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  -webkit-box-shadow: 0px 2px 5px #198754;
  box-shadow: 0px 2px 5px #198754;
}

.scroll-to-top i {
  font-size: 20px;
  color: inherit; /* Ensures it inherits color from parent */
}

.scroll-to-top {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  -webkit-box-shadow: 0px 2px 5px #198754;
  box-shadow: 0px 2px 5px #198754;
}

.scroll-to-top i {
  font-size: 20px;
  color: inherit; /* Ensures it inherits color from parent */
}

.scroll-to-top:hover {
  background-color: black; /* Optional: Add hover effect for button */
}
.image-gallery {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}

.image-gallery div {
  border-top: 2px solid #d0d0d0; /* Border on the top */
  border-left: 2px solid #d0d0d0; /* Border on the left */
  border-right: 2px solid #d0d0d0; /* Border on the right */
  border-bottom: none;
}

.image-gallery div:hover {
  scale: 110%;
}

.nav-button {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  z-index: 2;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 8px 24px;
  cursor: pointer;
  font-size: 40px;
  color: #333;
  border-radius: 5px;
}

.left-button {
  left: 5px;
  /* Realistic brick texture */
  /* background-image: url("/assets/brick.jpg"); Add your brick image here */
  background-size: cover; /* Makes the texture fill the button */
  background-position: center;
  background-repeat: no-repeat;
  color: yellow;
  /* Concrete-like texture or "mortar" effect */
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2), 4px 4px 15px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  /* Border simulating mortar */
  /* border: 2px solid #d0d0d0; */
}

.left-button:hover,
.right-button:hover {
  /* background-image: url("/assets/brick.jpg"); Optionally change texture on hover */
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3), 4px 4px 20px rgba(0, 0, 0, 0.4); /* Deepens the shadow on hover */
  scale: 108%;
}

.right-button {
  right: 5px;
  /* Realistic brick texture */
  /* background-image: url("/assets/brick.jpg"); Add your brick image here */
  background-size: cover; /* Makes the texture fill the button */
  background-position: center;
  background-repeat: no-repeat;

  /* Concrete-like texture or "mortar" effect */
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2), 4px 4px 15px rgba(0, 0, 0, 0.3);

  background-color: #000000;

  /* Border simulating mortar */
  /* border: 2px solid #d0d0d0; */
}

.building {
  width: 15%;
  margin: 0 1%;
  background-size: cover;
  background-position: center start;
  transition: transform 0.5s ease-in-out;
}

#building1 {
  height: 40%;
}

#building2 {
  height: 70%;
}

#building3 {
  height: 90%;
}

#building4 {
  height: 70%;
}

#building5 {
  height: 40%;
}
.image-gallery {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}

.building {
  width: 15%;
  margin: 0 1%;
  background-size: cover;
  background-position: center start;
  transition: transform 0.5s ease-in-out;
}

.building:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Modal Styling */
.fullscreen-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: scroll; /* Enable vertical scrolling */
  justify-content: center;
  align-items: flex-start; /* Start at the top */
  z-index: 1000;
  padding: 20px;
}

.fullscreen-image {
  max-width: 90%; /* Restrict width to viewport */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center the image */
}

.close-button {
  position: sticky;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}


@media (max-width: 768px) {
  .image-gallery {
    display: none;
  }
}

@media (max-width: 768px) {
  /* Adjust header-top layout */
  #header .header-top {
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
  }

  .header-top .logo {
    margin-bottom: 10px;
  }

  .nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .nav-menu ul li {
    margin: 5px 0;
  }

  .nav-menu ul li a {
    font-size: 16px;
  }

  /* Adjust header-bottom layout */
  #header .header-bottom {
    padding: 10% 5%;
    height: auto;
  }

  .header-bottom .bottom-left .name {
    font-size: 1.8rem;
  }

  .bottom-left .profession {
    font-size: 16px;
  }

  .bottom-left .short-desc {
    font-size: 14px;
    padding: 10px 0;
  }

  .bottom-left .btn-cv {
    width: 70%;
    font-size: 14px;
  }

  .header-bottom .bottom-right a {
    font-size: 14px;
    padding: 5px 8px;
  }

  .logo-span {
    display: none;
  }

  /* .fa-bars {
      margin-left: auto;
      margin: 0 auto !important;
    } */

  .bottom-left {
    padding-left: 0 !important;
  }

  .bottom-left, .nav-menu {
    display: flex;
    height: fit-content;
    margin: 0 auto !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  a.btn-cv {
    margin: 0 auto !important;
    margin-bottom: 20px !important;
  }

  .name,
  .profession {
    /* text-align: left;
    margin-left: 8px; */
  }
  /* .profession {
    margin-left: 12px; */
  

  /* a.btn-cv {
    margin: 0px !important;
    margin-left: 14px !important; */
    /* position: absolute; */
  /* } */

  /* .social-top {
    display: flex;
    position: absolute; */
    /* margin: 0 auto !important;
    align-items: flex-start !important;
    justify-content: flex-start !important; */
    /* margin-right: auto !important; */
    /* right: 140px; */
  
  i.top-icons {
    display: flex;
      /* align-items: flex-start;
      justify-content: flex-start;  */
      margin: 0 auto !important;
    /* margin-left: auto !important;
    margin-right: auto !important;
  }
  /* 
    i.fa-facebook {
      margin-left: 50px !important;
    } */
  }

    .about-left img {
      max-height: 300px;
      object-fit: contain;
    }

    .nav-menu ul {
      align-items: center;
      /* margin-top: 50px; */
    }

    .nav-menu ul li:first-child {
      margin-top: 60px;
    }

    #testimonial {
      padding-bottom: 10px;
    }
}

.about-left img {
  border-radius: 5px !important;
}

.about-left {

}

.lone {
  /* display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center; */
  /* margin-top: 20px; */
  margin-top: -10px;
  margin-bottom: -10px;
}

.quote {
  margin-top: 10px;
}

.building {
  border-radius: 5px !important;
}

.no-scroll {
  overflow: hidden; /* Disable scrolling */
}
